@import "bourbon";
@import "base/base";
@import "neat/neat";
@import "navbar";
@import "home";

*{
  font-family: "Montserrat" !important;
}

body{
  margin: 0;
}

html{
  overflow: scroll;
  overflow-x: hidden;
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
