@import "bourbon";
@import "base/base";
@import "neat/neat";
@import "navbar";
@import "footer";
@import "home";
@import "panels";
@import "alerts";
@import "trix";
@import "project";
@import "action_links";
@import "about";

*{
  font-family: "Montserrat" !important;
}

body{
  margin: 0;
}

html{
  overflow: scroll;
  overflow-x: hidden;
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
