.content{
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;

  .description{
    visibility: hidden;
    opacity: 0;
  }

  .image-overlay{
    visibility: hidden;
    color: #fff;
    opacity: 0;
  }

  .image{
    margin: 0;
    padding: 0;
    width: 33.333333%;
    position: relative;

    &:hover{
      cursor: pointer;
      .img-overlay{
        width:100%;
        height:100%;
        position:absolute;
        background-color: #000;

        opacity: 0.40;
        visibility: visible;
        // transition: visibility 0s, color 0.25s, opacity 0.25s linear;
      }

      .description{
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.25s linear;
      }
    }

    .description{
      position: absolute;
      top: 4em;
      left: 3em;
      z-index: 1;

      h1{
        font-size: 2.2em;
        margin: 0;
        color: $aquamarine;
      }

      p{
        color: #fff;
      }
    }
  }
}
