.navbar{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;

  width: 92%;
  margin: 0 auto;
  height: 75px;
  padding: 2.9em .5em;

  .title{
    h1{
      font-weight: 600;
      color: #111;
      margin: 0;
      font-size: 25px;
      transition: color .25s ease;

      &:hover{
        cursor: pointer;
        color: $aquamarine;
        transition: color .25s ease;
      }

      @media only screen and (max-device-width: 768px) {
        font-size: 3.5em;
        margin-top: 2em;
      }
    }
  }

  .actions, .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .actions{
    font-size: 1.5em;
    margin-bottom: 0.5em;

    a{
      font-weight: bold;
      color: $soft-gray;
      padding: 5px;

      transition: color .25s ease;

      &:hover{
        cursor: pointer;
        color: $aquamarine;
        transition: color .25s ease;
      }
    }

    .current_path_link_project{
    }

    .current_path_link_about{
    }

    .mobile{
      display: none;
      width: 100%;

      @media only screen and (max-device-width: 768px) {
        display: block;
        .fa-bars{
          margin-top: 2.1em;
          font-size: 2.5em;
        }
      }

      .modal-container{
        display: flex;
      }

      .modal-parent{
        width: 100%;
        height: 100%;
        position: fixed;
        display: none;
        top: 0;
        left: 0;
      }


      .overlay{
        display: none;
        position: fixed;
        top: 0;
        left: -15%;
        width: 100%;
        height: 100%;
        background: #fff;
      }
    }

    .mobile-links{
      text-align: center;

      .top-right{
        margin: 1em 1em 0 1em;
        font-size: 3em;
        text-align: right;
      }

      a{
        display: block;
        font-size: 2em;
        margin: 0 0 2em 0;
      }
      .wrapper {
        min-height: 65%;
        height: auto !important;
        margin: 0 auto -142px;
      }

      .bottom, .push {
          height: 142px;
      }

      .bottom{
        border-top: 1px solid #aaa;
        margin: 0;
        padding: 3em 0;

        a{
          font-size: 2.5em;
          display: inline;
          margin: 1em;
        }
      }
    }

    .desktop{
      font-size: 18px;
      @media only screen and (max-device-width: 768px) {
        display: none;
      }
    }
  }
}
