.footer
  .footer-link-to-top
    %i.fa.fa-arrow-up
    Back to top
  %footer
    .contact
      .option
        %i.fa.fa-female
        %p Tamarra Thal
      .option
        = link_to "mailto:tamarrathal@gmail.com" do
          %i.fa.fa-envelope
          %p tamarrathal@gmail.com
      .option
        %i.fab.fa-skype
        %p @tamarrathal
