.modal-container
  .overlay
  .modal-parent
    .modal
      .mobile-links
        .top-right
          %i.far.fa-times-circle

        = link_to "Projects", "/"
        = link_to "About", "/"

        .wrapper
          .push
        .bottom
          = link_to "https://www.linkedin.com/in/tamarrathal/", target: "_blank" do
            %i.fab.fa-linkedin-in
          = link_to "https://twitter.com/TamarraThal", target: "_blank" do
            %i.fab.fa-twitter
